{% include 'snippets/css.html' %}
<body class="text-light" style="background-color: #1b2845">
<p class="head">Fe<span class="text-warning">Q</span>t<span class="text-warning">A</span></p>
<div class="loginreg" >

<form method="post" action="{% url 'FeQta:register' %}">
{% csrf_token %}
    <!--{{form.as_p}}-->
  {% for field in form %}
            <div class="form-group">
                <label>{{field.label_tag}}</label>
                <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}"
                       type='{%if field.html_name == "username"%}text{% elif field.html_name == "email"%}email{% else %}password{% endif %}' />
                {%if field.html_name == "username"%}<small>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>{%endif%}
                <small>{{ field.errors }}</small>
            </div>
        {% endfor %}

    <button type="submit" class="btn btn-outline-warning" style="margin-left:42%">Signup</button>
    <input type="hidden" name="next" value="{{ next }}">
    <p style="margin-top: 2%">Already a User ? <a class="text-warning" href="{% url 'FeQta:login'%}">Login.</a></p>
    <p>Back to <a href="{% url 'FeQta:home' %}" class="text-warning">Home.</a></p>
</form>
</div>
</body>
