<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Cherry+Swash|Bree+Serif|Cabin|Merriweather|Noto+Serif|PT+Serif|Vollkorn" rel="stylesheet">
<style>
    body{
        background: #f0f0f0;
    }
    nav {
        /*background-color: #41b0e8;*/
        /*background-color: #0095f9;*/
        /*background-color: #274060;*/
        /*background-color: #335c81;*/
        background-color: #1b2845;
    }
    .card {
        border-radius: 0;
    }
    .navbar-brand {
        font-family:'Libre Baskerville', serif;
    }
</style>