<div class="fixed-top">
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand ml-5" href="#"  >FeQta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-sm-5" id="navbarToggler">
    <ul class="navbar-nav mr-auto  mt-lg-0 ">
      <li class="nav-item active mr-3">
        <a class="nav-link" href="/home/"><i class="fas fa-clipboard-list"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/answers/"><i class="fas fa-pencil-alt"></i> Answer</a>
      </li>
         <li class="nav-item mr-3">
        <a class="nav-link" href="/ranks/"><i class="fas fa-crown"></i> Ranks</a>
      </li>
        <li class="nav-item mr-3">
            <a class="nav-link" data-toggle="collapse" href="#CollapseSearch" role="button"
               aria-expanded="false" aria-controls="CollapseSearch">
                <i class="fas fa-search"></i> Search</a>
        </li>
    </ul>
      <ul class="navbar-nav ml-auto ">
          <li class="nav-item mr-3">
              <a class="nav-link" href="/topics/"><i class="fas fa-rocket"></i> Topics</a>
          </li>
          <li class="nav-item mr-3">
              <a class="nav-link" href="#"><i class="fas fa-plus"></i> Ask</a>
          </li>
          <li class="nav-item mr-3">
              <a class="nav-link" href="/profile/"><i class="fas fa-user-alt"></i> Profile</a>
          </li>
          <li class="nav-item mr-5">
              <a href="/get-started/"><button class="btn btn-outline-light" type="button">Get Started</button></a>
          </li>
           </ul>
  </div>
</nav>
    <div class="collapse " id="CollapseSearch">
      <div class="card card-body">
       <form class="form-inline">
              <!--<li class="nav-item ">-->
                  <!--<input class="form-control mr-sm-2 ml-2 badge-pill" type="search"#}-->
                   <!--placeholder="Search" aria-label="Search" style="width:350px">-->
              <!--</li>-->
            <!--<li class="nav-item" >-->
                <!--<button class="btn btn-outline-danger ml-3" type="submit">Search</button>#}-->
            <!--</li>-->
                <input type="search" class="form-control badge-pill " placeholder="FeQta at your service"
                       aria-label="Search" aria-describedby="button-addon2" style="width:80%" >
       </form>
       </div>
    </div>
  </div>