<div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand ml-5" href="{% url 'FeQta:home' %}" >Fe<span class="text-warning">Q</span>t<span class="text-warning">A</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-sm-5" id="navbarToggler">
        <ul class="navbar-nav mr-auto  mt-lg-0 ">
          <li class="nav-item mr-3 active" >
            <a class="nav-link active" href="{% url 'FeQta:home' %}" id="home-link">
                <i class="fas fa-clipboard-list"></i> Home</a>
          </li>
          <li class="nav-item mr-3" >
            <a class="nav-link" href="{% url 'FeQta:answers' %}" id="answer-link">
                <i class="fas fa-pencil-alt"></i> Answer</a>
          </li>
          <li class="nav-item mr-3" >
            <a class="nav-link" href="{% url 'FeQta:ranks' %}" id="rank-link">
                <i class="fas fa-crown"></i> Ranks</a>
          </li>
          <li class="nav-item mr-3" >
             <a class="nav-link"  href="{% url 'FeQta:search' %}" id="search-link">
                 <i class="fas fa-search"></i> Search</a>
          </li>
        </ul>
          <ul class="navbar-nav ml-auto ">
              <li class="nav-item mr-3" >
                  <a class="nav-link" href="{% url 'FeQta:topic_list' %}" id="topic-link"><i class="fas fa-rocket"></i> Topics</a>
              </li>
              <li class="nav-item mr-3" >
                  <a class="nav-link" href="{% url 'FeQta:question_create' %}" id="ask-link"><i class="fas fa-plus"></i> Ask</a>
              </li>
              <li class="nav-item mr-3" >
                  <a class="nav-link" href="{% if request.user.is_authenticated %}{% url 'FeQta:profile_detail' request.user.username%}
                  {% else %}{% url 'FeQta:login' %}{% endif %}" id="profile-link"><i class="fas fa-user-alt"></i> Profile</a>
              </li>
              <li class="nav-item mr-5">
                  <a href="{% if request.user.is_authenticated %}{% url 'FeQta:logout_page' %}{% else %}
                  {% url 'FeQta:register' %}{% endif %}"><button class="btn btn-outline-warning" type="button">
                      {% if request.user.is_authenticated %}Logout{% else %}Get Started{% endif %}</button></a>
              </li>
               </ul>
      </div>
    </nav>
    {% if not request.user.is_authenticated %}
        <div class="card">
            <div class="card-body">
                New to FeQta ? Click to <a href="/">know more</a>.
            </div>
        </div>
    {% endif %}
</div>

