<h5 class="card-text" style="height:25px;overflow: hidden">{{ ans.answer }}</h5>
<small><b>Like</b>&nbsp;<i class="far fa-thumbs-up"></i>{{ ans.likes.count }}&nbsp;&nbsp;<b>Needs_improvement</b>&nbsp;<i class="fas fa-star-half-alt"></i>{{ans.needs_improvement.count}}&nbsp;&nbsp;
    <b>Dislike</b>&nbsp;<i class="far fa-thumbs-down"></i>{{ans.dislikes.count}}</small><br/>
<small>Answered by &nbsp;<i><b>{{ans.owner}}</b></i>&nbsp;on
{{ans.timestamp}}</small>
<a href="{{ans.get_absolute_url}}">(view more)</a>