<div class="card mb-1">
    <div class="card-body">
        <!--{%url 'FeQta:question_detail' ques.slug%}-->
        <h5><a href="{{ques.get_absolute_url}}">{{ ques.question }}</a></h5>
        {% if ques.desc %}
            <p class="card-text"><b>Description: </b>{{ ques.desc }}</p>
        {% endif %}
        <p class="card-text">asked by <i><a href="{{ques.owner.profile.get_absolute_url}}">{{ ques.owner.username }}
            </a></i></p>
        <p class="card-text">Related to Topic: <a href="{{ques.topic.get_absolute_url}}">{{ques.topic.name}}</a> </p>
    </div>
</div>