{% extends "base.html" %}

{% block title %}Answers{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><a href="{{answer.question.get_absolute_url}}">{{ answer.question.question }}</a></h4><br/>
            {% if answer.question.desc %}
            <p class="card-text"><b>Description: </b>{{ answer.question.desc }}</p><br/>
            {% endif %}
        </div>
    </div>
    <div class="mt-3">
        <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-text">{{ answer.answer }}</h5>
                    {% include 'FeQta/snippets/answer_btns.html'%}
                    <small><b>Like</b>&nbsp;<i class="far fa-thumbs-up"></i>{{ answer.likes.count }}&nbsp;&nbsp;
                        <b>Needs_improvement</b>&nbsp;<i class="fas fa-star-half-alt"></i>{{answer.needs_improvement.count}}&nbsp;&nbsp;
                        <b>Dislike</b>&nbsp;<i class="far fa-thumbs-down"></i>{{answer.dislikes.count}}</small><br/>
                    <small>Answered by &nbsp;<i><b>{{answer.owner}}</b></i>&nbsp;on
                        <b>{{answer.timestamp}}</b></small>
                </div>
        </div>
    </div>
{% endblock %}