{% extends "base.html" %}


{% block title %}Answer{% endblock %}

{% block body %}
{% for ques in qs %}
        <div class="card mb-1">
                    <div class="card-body">
                         <!--{%url 'FeQta:question_detail' ques.slug%}-->
                        <h5><a href="{{ques.get_absolute_url}}">{{ ques.question }}</a></h5>
                        {% if ques.desc %}
                            <p class="card-text"><b>Description: </b>{{ ques.desc }}</p>
                        {% endif %}
                        <p class="card-text">asked by <i>{{ ques.owner}}</i></p>
                        <p class="card-text">Related to Topic: <a href="{{ques.topic.get_absolute_url}}">{{ques.topic.name}}</a> </p>
                    </div>
        </div>
        <!--<div class="card mb-1">-->
                    <!--<div class="card-body">-->
                         <!--&lt;!&ndash;{%url 'FeQta:question_detail' ques.slug%}&ndash;&gt;-->
                        <!--<h5><a class="text-dark" href="{{ques.get_absolute_url}}">{{ ques.question }}</a></h5>-->
                        <!--{% if ques.desc %}-->
                            <!--<p class="card-text"><strong>Description: </strong>{{ ques.desc }}</p>-->
                        <!--{% endif %}-->
                        <!--<p class="card-text">asked by <i>{{ ques.owner}}</i></p>-->
                        <!--<p class="card-text">Related to Topic: <a href="{% url 'FeQta:topic_detail' ques.topic.slug %}">{{ques.topic.name}}</a> </p>-->
                    <!--</div>-->
        <!--</div>-->
        {% endfor %}
{% endblock %}