{% extends "base.html" %}


{% block title %}Feeds{% endblock %}

{% block body %}
<p class="lead">My Feed</p>
{% for ans in ans_followed_questions%}
    <br/><small class="badge badge-warning " >answer for followed question</small>
    <div class="card mb-1">
        <div class="card-body">
            <h5><a href="{{ans.question.get_absolute_url}}">{{ ans.question.question }}</a></h5>
            {% if ans.question.desc %}
            <p class="card-text"><b>Description: </b>{{ ans.question.desc }}</p>
            {% endif %}
            <p class="card-text">asked by <i><a href="{{ans.question.owner.profile.get_absolute_url}}">{{ ans.question.owner.username }}
            </a></i></p>
            <p class="card-text">Related to Topic: <a href="{{ans.question.topic.get_absolute_url}}">{{ans.question.topic.name}}</a> </p>
            <hr style="background-color: #ccc">
            {% include 'FeQta/snippets/answer_card.html'%}
        </div>
    </div>
{% endfor %}
{% for ans in ans_my_ques%}
    <br/><small class="badge badge-dark ">answer to my question</small>
    <div class="card mb-1">
        <div class="card-body">
            <h5><a href="{{ans.question.get_absolute_url}}">{{ ans.question.question }}</a></h5>
            {% if ans.question.desc %}
            <p class="card-text"><b>Description: </b>{{ ans.question.desc }}</p>
            {% endif %}
            <p class="card-text">asked by <i><a href="{{ans.question.owner.profile.get_absolute_url}}">{{ ans.question.owner.username }}
            </a></i></p>
            <p class="card-text">Related to Topic: <a href="{{ans.question.topic.get_absolute_url}}">{{ans.question.topic.name}}</a> </p>
            <hr style="background-color: #ccc">
            {% include 'FeQta/snippets/answer_card.html'%}
        </div>
    </div>
{% endfor %}
{% for ans in topic_rld%}
    <br/><small class="badge badge-warning " >answer related to followed topic</small>
    <div class="card mb-1">
        <div class="card-body">
            <h5><a href="{{ans.question.get_absolute_url}}">{{ ans.question.question }}</a></h5>
            {% if ans.question.desc %}
            <p class="card-text"><b>Description: </b>{{ ans.question.desc }}</p>
            {% endif %}
            <p class="card-text">asked by <i><a href="{{ans.question.owner.profile.get_absolute_url}}">{{ ans.question.owner.username }}
            </a></i></p>
            <p class="card-text">Related to Topic: <a href="{{ans.question.topic.get_absolute_url}}">{{ans.question.topic.name}}</a> </p>
            <hr style="background-color: #ccc">
            {% include 'FeQta/snippets/answer_card.html'%}
        </div>
    </div>
{% endfor %}
{% for ans in likes %}
    <br/><small class="badge badge-dark ">liked by following_user</small>
    <div class="card mb-1">
        <div class="card-body">
            <h5><a href="{{ans.question.get_absolute_url}}">{{ ans.question.question }}</a></h5>
            {% if ans.question.desc %}
            <p class="card-text"><b>Description: </b>{{ ans.question.desc }}</p>
            {% endif %}
            <p class="card-text">asked by <i><a href="{{ans.question.owner.profile.get_absolute_url}}">{{ ans.question.owner.username }}
            </a></i></p>
            <p class="card-text">Related to Topic: <a href="{{ans.question.topic.get_absolute_url}}">{{ans.question.topic.name}}</a> </p>
            <hr style="background-color: #ccc">
            {% include 'FeQta/snippets/answer_card.html'%}
        </div>
    </div>
{% endfor %}
{% for ans in ans_following_user %}
    <br/><small class="badge badge-warning ">{{ ans.owner.username }} answered</small>
    <div class="card mb-1">
        <div class="card-body">
            <h5><a href="{{ans.question.get_absolute_url}}">{{ ans.question.question }}</a></h5>
            {% if ans.question.desc %}
            <p class="card-text"><b>Description: </b>{{ ans.question.desc }}</p>
            {% endif %}
            <p class="card-text">asked by <i><a href="{{ans.question.owner.profile.get_absolute_url}}">{{ ans.question.owner.username }}
            </a></i></p>
            <p class="card-text">Related to Topic: <a href="{{ans.question.topic.get_absolute_url}}">{{ans.question.topic.name}}</a> </p>
            <hr style="background-color: #ccc">
            {% include 'FeQta/snippets/answer_card.html'%}
        </div>
    </div>
{% endfor %}
{% endblock %}