{% extends "base.html" %}


{% block title %}{{ title }}{% endblock %}
{% block body %}
    <style>
        .table-dark{
            background-color: #1b2845;
        }
        .img-fluid{
            max-width:15em;
            max-height: 15em;
            height: auto;
            border-radius: 100%;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        .middle{
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        .parent:hover .middle{
            opacity: 1;
        }
        .parent:hover .img-fluid{
            opacity: 0.5;
        }
    </style>

    <div class="card text-center " style="width: 60%;margin-left:20%; ">
        <div class="card-body">
            <span class="parent">
            {% if profile.pic %}
            <img class="card-img-top img-fluid" src="{{ profile.pic.url }}"
                   /><br/><br/>
            {%else%}
            <img class="card-img-top img-fluid" src="/media/default_img.png"
                   /><br/><br/>
            {% endif %}
            {% if request.user.is_authenticated and profile.user == request.user %}
                <form class="form middle" action="{% url 'FeQta:profile_edit' username=profile.user.username%}">
                    <button type="submit" class='btn btn-default'>Edit</button>
                </form>
            {% endif %}
            </span>
            {% if profile.desc %}
            <p class="card-text">Description: {{ profile.desc }}</p>
            {% else %}
            <p>Description: -</p>
            {% endif %}
            <h3 class="card-title">{{profile.user.username }}</h3><br/>
            <form class="form" method="get" action=".">
                <div class="input-group" style="width: 60%;margin-left:20%">
                 <input type="search" class="form-control" placeholder="Search.."
                   aria-label="search" aria-describedby="button"  name="q">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary follow-btn" id="button" value="request.GET.q"><i class="fas fa-search"></i></button>
                </div>
                </div>
            </form>
            {% include 'FeQta/snippets/profile_follow_btn.html' with username=profile.user.username is_following=is_following %}
        </div>
    </div>
    <div class="mt-3">
        <h4>Activity:</h4>
                <table class="table  table-dark mb-1">
                    <tr>
                        <td scope="row">Followers : {{ count }}</td>
                        <td >Questions asked : {{ count1 }}</td>
                        <td >Answers : {{ count2 }}</td>
                        <td >Topics : {{ count3 }}</td>
                     </tr>
                    <tr>
                        <td scope="row">Following : {{ count0 }}</td>
                        <td >Likes : {{ count4 }}</td>
                        <td >Dislikes : {{ count6 }}</td>
                        <td >Needs Improvement : {{ count5 }}</td>
                     </tr>
                </table>
    </div>
    <div class="mt-3">
        <h4>Questions asked:</h4>
        {% if questions %}
            {% for ques in questions %}
                {% include 'FeQta/snippets/question_card.html'%}
            {% endfor %}
        {% else %}
            <p class='lead'>No Questions Found</p>
        {% endif %}
    </div>
    <div class="mt-3">
        <h4>Answers:</h4>
        {% if answers %}
        {% for ans in answers %}
            <div class="card mb-1">
                    <div class="card-body">
                        <h5><a href="{{ans.question.get_absolute_url}}">{{ ans.question.question }}</a></h5>
                        {% if ans.question.desc %}
                            <p class="card-text"><b>Description: </b>{{ ans.question.desc }}</p>
                        {% endif %}
                        <p class="card-text">asked by <i><a href="{{ans.question.owner.profile.get_absolute_url}}">
                            {{ ans.question.owner.username }}</a></i></p>
                        <p class="card-text">Related to Topic: <a href="{{ans.question.topic.get_absolute_url}}">
                            {{ans.question.topic.name}}</a> </p>
                        <hr style="background-color: #ccc">
                        {% include 'FeQta/snippets/answer_card.html'%}
                        {% if request.user.is_authenticated and profile.user == request.user %}
                            <!--<form class="form" action="{% url 'FeQta:answer_update' ans.slug%}">-->
                                <!--<button type="submit" class='btn btn-outline-secondary follow-btn btn-sm'>Edit</button>-->
                            <!--</form>-->
                            <!--<form class="form" action="{% url 'FeQta:answer_delete_page' ans.slug%}">-->
                                <!--<button type="submit" class='btn btn-outline-danger btn-sm'>Delete</button>-->
                            <!--</form>-->
                            <br/>
                            <a href="{% url 'FeQta:answer_update' ans.slug%}"
                               class='btn btn-outline-secondary follow-btn btn-sm'><i class="far fa-edit"></i>&nbsp;Edit</a>
                            <a href="{% url 'FeQta:answer_delete_page' ans.slug%}"
                               class='btn btn-outline-danger btn-sm'><i class="far fa-trash-alt"></i>&nbsp;Delete</a>
                        {% endif%}
                        <!--<a class="btn btn-danger" href="#">Delete My Answer</a>-->
                    </div>
            </div>
        {% endfor %}
        {% else %}
            <p class='lead'>No Answers Found</p>
        {% endif %}
    </div>
    <div class="mt-3">
        <h4>Topics followed:</h4>
        {% if topics %}
            {% for topic in topics %}
                {% include 'FeQta/snippets/topic_card.html'%}
            {% endfor %}
        {% else %}
            <p class='lead'>No Topics Found</p>
        {% endif %}
    </div>
{% endblock %}


