{% extends "base.html" %}


{% block title %}Question{% endblock %}
<!--add follow and delete btn?-->
{% block body %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ question.question }}</h4><br/>
            {% if ques.desc %}
            <p class="card-text"><b>Description: </b>{{ question.desc }}</p><br/>
            {% endif %}
            <p class="card-text">asked by <i><a href="{{question.owner.profile.get_absolute_url}}">{{ question.owner.username }}</a></i></p>
            <p class="card-text">Related to topic: <a href="{{question.topic.get_absolute_url}}">{{question.topic.name}}</a> </p>
            {% include 'FeQta/snippets/question_follow_btn.html' %}
            <p class="mt-3 lead">{{count}} are following this</p>
        </div>
    </div>
    <div class="mt-3">
        {% for ans in question.answer_set.all %}
        <div class="card mb-1">
                <div class="card-body">
                    {% include 'FeQta/snippets/answer_card.html'%}
                    <a href="{% url 'FeQta:answer_detail' ans.slug%}">View more</a>
                </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}