{% extends "base.html" %}


{% block title %}Search{% endblock %}

{% block nav2 %}
    <div class="card card-body" style="margin-top: 4%">
       <form class="form-inline" method="get" action=".">
         <div class="input-group" style="width: 50%;margin-left:25%">
                 <input type="search" class="form-control" placeholder="FeQtA at your service"
                   aria-label="search" aria-describedby="button"  name="q">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary follow-btn" id="button" value="request.GET.q"><i class="fas fa-search"></i></button>
                </div>
         </div>
       </form>
    </div>
       </form>
    </div>
{% endblock %}

{% block body %}
    <h4>Questions :</h4>
    {% if questions %}
        {% for ques in questions %}
            {% include 'FeQta/snippets/question_card.html'%}
        {% endfor %}
    {% else %}
            <p class='lead'>No Questions Found</p>
    {% endif %}
    <h4>Topics :</h4>
    {% if topics %}
        {% for topic in topics %}
            {% include 'FeQta/snippets/topic_card.html'%}
        {% endfor %}
    {% else %}
        <p class='lead'>No Topics Found</p>
    {% endif %}
    <h4>Profiles :</h4>
    {% if users %}
            {% for user in users %}
            <div class="card text-center ">
                <div class="card-body">
                    <h3 class="card-title">{{ user.username }}</h3><br/>
                        <a href="{% url 'FeQta:profile_detail' user.username %}" class="btn btn-outline-secondary follow-btn">View Profile</a>

                </div>
            </div>
            {% endfor %}
    {% else %}
        <p class='lead'>No Profiles Found</p>
    {% endif %}
{% endblock %}
