{% extends "base.html" %}


{% block title %}Topic{% endblock %}

{% block body %}
<style>
     .img-fluid{
        max-width:15em;
        max-height: 15em;
        height: auto;
    }
</style>
    <div class="card text-center " style="width: 60%;margin-left:20%; ">
        <div class="card-body">
            <h4 class="card-title">{{ topic.name }}</h4><br/>
            <img class="card-img-top img-fluid" src="{{ topic.topic_logo.url }}"
                   /><br/><br/>
            <p class="card-text">{{ topic.desc }}</p><br/>
            {% include 'FeQta/snippets/topic_follow_btn.html'%}
            <p class="mt-3 lead">{{count}} are following this</p>
        </div>
         </div>
    <div class="mt-3">
        {% for ques in topic.question_set.all %}
            {% include 'FeQta/snippets/question_card.html'%}
        {% endfor %}
    </div>

{% endblock %}


