{% extends "base.html" %}


{% block title %}Topics{% endblock %}

{% block body %}
        {% for topic in topics %}
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-title"><img src="{{ topic.topic_logo.url }}"
                        class="rounded float-left mr-2 img-thumbnail img-fluid" style="width:5em;height:5em">
                        <a class="nav-link" style="color:#1b2845;"
                           href="{{ topic.get_absolute_url }}">{{ topic }}</a></p>
                </div>
            </div>
        {% endfor %}
{% endblock %}
