{% extends 'base.html' %}

{% block title %}Create Topic{% endblock %}

{% block body %}
    <style>
      .card{
            font-family: 'Merriweather', serif;
        }
    </style>
     <div class="card" >
       <div class="card-body">
         <h4 class="card-title text-center">Add a Topic</h4><br />
         {% if error_message %}
          <p>{{ error_message }}</p>
          {%endif%}
         <form action="" method="post" enctype="multipart/form-data">
           {% csrf_token %}
           {% include "FeQta/form_template.html" %}
           <div class="form-group text-center">
             <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" class="btn btn-success">Submit</button>
             </div>
           </div>
         </form>
       </div>
     </div>
{% endblock %}
